# Port number on which your backend server will run
PORT=3000

# Email address used to send messages
SENDER_EMAIL=your_sender_email@example.com

# Email address that will receive the messages
RECIVING_EMAIL=your_receiver_email@example.com

# API key for Resend (used for sending transactional emails)
RESEND_EMAIL_API_KEY=your_resend_api_key_here

# URL of your frontend app
FRONT_END_URL=https://yourfrontendurl.com